<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">

  <xacro:macro name="engine_transmission_v0" params="prefix">
    <transmission name="${prefix}_engine_transmission">
      <type>transmission_interface/SimpleTransmission</type>
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      <joint name="${prefix}_chasis_engine_joint">
      </joint>
      <actuator name="${prefix}_engine_actuator">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>30</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:engine_transmission_v0 prefix="left"/>
  <xacro:engine_transmission_v0 prefix="right"/>
  
</robot>
