<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">
  <!-- Load base model (just include is enough) -->
  <xacro:include filename="$(find wamv_description)/urdf/engine/engine.urdf.xacro"/>

  <!-- Load engine macro -->
  <xacro:include filename="$(find wamv_description)/urdf/base/wamv_base.urdf.xacro"/>
  <!-- Describe both engine -->
  <xacro:engine prefix="left" position="-2.373776 1.027135 0.318237" />
  <xacro:engine prefix="right" position="-2.373776 -1.027135 0.318237" />
  
</robot>
