<launch>
    <machine name="aibox3" address="192.168.1.103" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia"/>

    <!--<include file="$(find robotx_bringup)/launch/aibox3/actuators.launch"/>-->
    <include file="$(find robotx_bringup)/launch/aibox3/sensors.launch"/>
    <!--<include file="$(find robotx_bringup)/launch/aibox3/serial_devices.launch"/>-->
    <include file="$(find robotx_bringup)/launch/aibox3/navigation.launch"/>
    <include file="$(find robotx_bringup)/launch/aibox3/tims_sync.launch" />
    <include file="$(find robotx_driver)/launch/frame_publisher.launch" />
</launch>