<?xml version="1.0"?>
<launch>
    <arg name="rosbag" default="true"/>

    <machine name="aibox2" address="192.168.1.101" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia"/>

    <include file="$(find robotx_bringup)/launch/aibox2/sensors.launch" unless="$(arg rosbag)"/>
    <include file="$(find robotx_bringup)/launch/aibox2/serial_devices.launch" unless="$(arg rosbag)"/>
    <include file="$(find robotx_bringup)/launch/aibox2/perception.launch"/>
</launch>