<launch>
  <machine name="jetson_0" address="192.168.1.101" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia"/>
  <!-- Launch Velodynes -->
  <include file="$(find robotx_bringup)/launch/sensor/ai_pilot.launch"/>
  <include file="$(find robotx_bringup)/launch/sensor/uvc_camera.launch"/>
</launch>
