<launch>
  <machine name="jetson_0" address="192.168.1.101" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia"/>
  
  <node name="record" pkg="rosbag" type="record" args="/nmea_sentence /ai_pilot_velodyne/velodyne_packets /front_velodyne/velodyne_packets 
    /wam_v/front_camera/fron_camera_info /wam_v/front_camera/front_image_raw /joint_states /diagnostics /left_engine_position_controller/command
    /right_engine_position_controller/command /left_thrust_cmd /right_thrust_cmd
    -O $(find robotx_bringup)/data/record.bag"/>
</launch>