<?xml version="1.0"?>
<launch>
    <machine name="aibox1" address="192.168.1.101" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia"/>

    <include file="$(find robotx_bringup)/launch/aibox1/sensors.launch"/>
    <include file="$(find robotx_bringup)/launch/aibox1/gateway.launch"/>
    <include file="$(find robotx_bringup)/launch/aibox1/decision_maker.launch"/>
</launch>