<?xml version="1.0"?>
<launch>
    <node pkg="robotx_navigation" type="imu_gravity_removal_node" name="imu_gravity_removal_node" output="screen">
        <remap from="/imu_gravity_removal_node/input_imu" to="/imu/data"/>
        <remap from="/imu_gravity_removal_node/imu_rm_gravity" to="/twist/vel_stamped"/>
        <remap from="/imu_gravity_removal_node/imu_rm_gravity_noStamped" to="/twist/vel"/>
        <param name="/nmea_true_cource_topic_name" value="/sc30_driver_node/true_course"/>
        <param name="/acc_x_offset" value="0.0"/>
        <param name="/acc_y_offset" value="0.0"/>
        <param name="/acc_z_offset" value="0.0"/>
        <param name="/gyro_x_offset" value="0.0"/>
        <param name="/gyro_y_offset" value="0.0"/>
        <param name="/gyro_z_offset" value="0.0"/>
        <param name="/gyro_z_offset" value="0.0"/>
        <param name="/LPF_const_value" value="0.9"/>
    </node>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_midgwick_filter_node" output="screen">
        <param name="/gain" value="0.1"/>
        <param name="/zeta" value="0.0"/>
        <param name="/mag_bias_x" value="0.0"/>
        <param name="/mag_bias_y" value="0.0"/>
        <param name="/mag_bias_z" value="0.0"/>
        <param name="/use_mag" value="true"/>
        <param name="/orientation_stddev" value="0.0"/>
        <param name="/publish_tf" value="false"/>
    </node>
</launch>