<?xml version="1.0"?>
<launch>
    <!--<node pkg="rosbag" type="play" name="rosbag" args="/home/$(env USER)/Desktop/robotx/rosbag/2018-12-12/2018-12-12-16-59-35.bag"/>-->
    <!--<param name="use_sim_time" value="true"/>-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotx_driver)/config/replay.rviz"/>
    <include file="$(find robotx_driver)/launch/frame_publisher.launch" />
    <include file="$(find robotx_navigation)/launch/gps_pipeline.launch"/>
    <include file="$(find robotx_navigation)/launch/navigation_planner.launch"/>
    <include file="$(find robotx_twist_controller)/launch/twist_controller.launch" />
    <node pkg="robotx_driver" type="sc30_driver_node" name="sc30_driver_node" output="screen" respawn="true">
        <rosparam file="$(find robotx_driver)/config/sc30_driver.yaml" command="load"/>
    </node>
    <include file="$(find robotx_decision_maker)/launch/decision_maker.launch"/>
    <include file="$(find robotx_navigation)/launch/imu_remove_gravity.launch" />
</launch>