<launch>
  <!-- Necessary arguments for using the GPS device on a vehicle -->
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baud" default="4800" />
    <arg name="frame_id" default="gps" />

    <!-- Launch navsat driver node -->
    <node pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" name="nmea_driver" >
      <param name="port" value="$(arg port)"/>
      <param name="baud" value="$(arg baud)"/>
      <param name="frame_id" value="$(arg frame_id)"/>
    </node>

    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" >
      <param name="baud" value="$(arg baud)"/>
      <param name="frame_id" value="$(arg frame_id)"/>
    </node>
</launch>
