<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node pkg="robotx_driver" type="robotx_hardware_interface_node" name="robotx_hardware_interface_node" args="" output="screen" respawn="true">
  <rosparam command="load" file="$(find robotx_driver)/config/hardware.yaml" ns="robotx_hardware_interface_node"/>
  </node>

  <node name="technical_network_bridge_node" pkg="robotx_driver" type="technical_network_bridge_node" args="" output="screen" respawn="true">
  <rosparam file="$(find robotx_driver)/config/technical_network_bridge.yaml" command="load"/>
  </node>

</launch>
