<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="technical_network_bridge_node" pkg="robotx_driver" type="technical_network_bridge_node" args="" output="screen" respawn="true">
    <rosparam file="$(find robotx_driver)/config/technical_network_bridge.yaml" command="load"/>
  </node>
</launch>
