<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find robotx_driver)/config/hardware.yaml" ns="robotx_hardware_interface_node"/>
    <node pkg="robotx_driver" type="robotx_hardware_interface_node" name="robotx_hardware_interface_node" args="" output="screen" respawn="true">
    </node>

    <include file="$(find robotx_driver)/launch/diagnostic.launch"/>
    <include file="$(find robotx_driver)/launch/communication.launch"/>
    <include file="$(find robotx_driver)/launch/dynamixel.launch"/>
</launch>
